.main_dashboard {
  padding: 0 30px;
  padding-left: 60px;
}

@media screen and (max-width: 992px) {
  .main_dashboard {
    padding: 0px;
  }
}

.main_dashboard .slider-arrow {
  min-width: 30px;
  min-height: 30px;
  border-radius: 50%;
  background-color: rgba(0, 0, 0, 0.5);
  text-align: center;
  line-height: 28px;
  color: #fff;
  font-weight: bold;
  font-size: 18px;
}
.main_dashboard .card-button {
  width: calc(50% - 20px);
  /* height: fit-content; */
  padding: 20px;
  border: 1px solid #f9f9f9;
  border-radius: 5px;
  background-color: #fff;
  margin: 0 10px;
  margin-top: 20px;
  box-shadow: none;
}
@media screen and (max-width: 992px) {
  .main_dashboard .card-button {
    width: 100%;
    margin: 0px;
    margin-top: 20px;
  }
}
.main_dashboard .card-button .title {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.main_dashboard .card-button .title i {
  color: #006577;
  font-size: 38px;
  margin-right: 10px;
}
.main_dashboard .card-button .title a {
  text-transform: capitalize;
  text-decoration: none !important;
}
.main_dashboard .card-button .title a h5 {
  margin: 0;
  color: #006577;
}
.main_dashboard .card-button .title p {
  margin: 0;
  color: #858585;
  text-transform: capitalize;
  font-size: 12px;
}
.main_dashboard .card-button .images {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-wrap: nowrap;
  overflow-x: scroll;
  padding: 0 30px;
  margin: 0;
  margin-top: 30px;
  width: 100%;
}
@media screen and (max-width: 992px) {
  .main_dashboard .card-button .images {
    padding: 0 15px;
  }
}
.main_dashboard .card-button .images img {
  height: 70px;
  width: auto;
  margin-right: 20px;
}
@media screen and (max-width: 992px) {
  .main_dashboard .card-button .images img {
    height: 50px;
  }
}
.main_dashboard .card-button .card-row {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-wrap: wrap;
  width: 100%;
  padding: 0 30px;
  margin: 0;
  margin-top: 20px;
}
@media screen and (max-width: 992px) {
  .main_dashboard .card-button .card-row {
    padding: 0 15px;
    flex-wrap: nowrap;
    overflow-x: scroll;
  }
}
.main_dashboard .card-button .card-row.min {
  padding: 0;
}
@media screen and (min-width: 992px) {
  .main_dashboard .card-button .card-row.min {
    margin-bottom: 20px;
  }
}
.main_dashboard .card-button .card-row .card-col {
  /* width: 240px; */
  padding: 5px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.main_dashboard .card-button .card-row .card-col div.details {
  min-width: 150px;
}
.main_dashboard .card-button .card-row .card-col.transport {
  margin-bottom: 2rem;
}
/* .main_dashboard .card-button .card-row .card-col:first-child div.icon {
  margin-left: 0rem;
} */
.main_dashboard .card-button .card-row .card-col .icon {
  height: 40px;
  width: 40px;
  background-color: #006577;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 10px;
}
.main_dashboard .card-button .card-row .card-col .icon i {
  color: #fff;
  font-size: 26px;
}
.main_dashboard .card-button .card-row .card-col h6 {
  color: #006577;
  margin: 0;
}
.main_dashboard .card-button .card-row .card-col img {
  height: 60px;
  width: auto;
  border-radius: 5px;
  margin-right: 10px;
}
.main_dashboard .card-button .card-row .card-col p {
  font-size: 12px;
  color: #858585;
  margin: 0;
}
.main_dashboard .card-button .card-row .card-col p.price {
  color: #dd9877;
}

/*# sourceMappingURL=main.css.map */
