.kure-menu {
    background-color: #006577;
    padding-top: 40px;
    width: 100%;
    height: 100vh;
}

.kure-menu .kure-logo-box {
    padding: 0px 30px;
    margin-bottom: 40px;
}

.kure-menu .kure-logo-box img {
    height: 36px;
}

.kure-menu .kure-menu-items {
    list-style-type: none;
    padding: 0px;
    color: #F5F5F5;
}

.kure-menu .kure-menu-items .kure-menu-item > div {
    display: flex;
    align-items: center;
    padding-left: 30px;
    padding-right: 10px;
    height: 50px;
    cursor: pointer;
}

.kure-menu .kure-menu-items .kure-submenu-items > div {
    justify-content: space-between;
}

.kure-menu .kure-menu-items .kure-menu-item > div:hover {
    background-color: rgba(245, 245, 245, 0.25);
}

.kure-menu .kure-menu-items .kure-menu-item div {
    display: flex;
    align-items: center;
}

.kure-menu .kure-menu-items .kure-menu-item > div.active {
    background-color: #F5F5F5;
    color: #006577
}

.kure-menu .kure-menu-items .kure-menu-item .material-icons {
    font-size: 18px;
    margin-right: 10px;
}

.kure-menu .kure-menu-items .kure-menu-item p {
    font-size: 16px;
    font-weight: 300;
    margin: 0px;
}

.kure-menu .kure-menu-items .kure-submenu-items ul {
    display: none;
}

.kure-menu .kure-menu-items .kure-submenu-items ul {
    list-style-type: none;
    padding: 0px;
}

.kure-menu .kure-menu-items .kure-submenu-items ul li {
    height: 42px;
    padding-left: 55px;
    display: flex;
    align-items: center;
    font-size: 14px;
    font-weight: 300;
    cursor: pointer;
}

.kure-menu .kure-menu-items .kure-submenu-items > div > i.arrow-down {
    display: none;
}

.kure-menu .kure-menu-items .kure-submenu-items ul li:hover {
    background-color: rgba(245, 245, 245, 0.25);
}

.kure-menu .kure-menu-items .kure-submenu-items:hover ul {
    display: block;
}

.kure-menu .kure-menu-items .kure-submenu-items:hover > div > i.arrow-right {
    display: none;
}

.kure-menu .kure-menu-items .kure-submenu-items:hover > div > i.arrow-down {
    display: block;
}

.kure-menu .kure-menu-items .kure-menu-item > div.active + ul,
.kure-menu .kure-menu-items .kure-menu-item > div.active > i,
.kure-menu .kure-menu-items .kure-menu-item:hover > div.active > i {
    display: none;
}
