.table {
  width: 100%;
  border-spacing: 0 7px;
  border-collapse: separate;
}

.table thead {
    width: 100%;
}

@media screen and (max-width: 992px) {
  .table {
    width: 1280px;
  }
}

.table tr {
  background-color: #fff;
  margin: 3px 0;
  padding: 10px 5px;
  transition: all .5s;
  width: 100%;
}

.table tr:hover {
    background: #f4f4f4;
}

.table tr td {
  color: #000;
  font-size: 15px;
  background-color: transparent;
  border: none;
  text-align: left;
  vertical-align: middle;
}

.table tr td.icon-td {
    text-align: center;
}

.table tr td span.dot {
    display: inline-block;
    height: 7px;
    width: 7px;
    border-radius: 50%;
    text-align: center;
}

.table tr td span.dot.green-dot {
    background-color: green;
}

.table tr td span.dot.red-dot {
    background-color: red;
}

.table tr td:first-child {
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

.table tr td:last-child {
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

.table thead tr {
  background-color: #34495E !important;
}

.table thead tr td {
  color: #fff;
  margin: 0;
  margin-bottom: 20px;
}




/* Table CSS */

.kure-table {
    max-width: 1000px;
}

.kure-table p {
    margin-bottom: 0px;
}

.kure-table .filter-options {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin-bottom: 40px;
}

.kure-table .filter-options .date-range {
    display: flex;
}

.kure-table .filter-options .date-range .date-picker {
    width: 180px;
    margin-right: 20px;
}

.kure-table .filter-options .date-range .date-picker > div {
    position: relative;
}

.kure-table .filter-options .date-range .date-picker label {
    font-size: 10px;
    text-transform: uppercase;
    font-weight: 500;
    color: #418298;
    margin-bottom: 5px;
}

.kure-table .filter-options .date-range .date-picker input {
    border: none;
    outline: none;
    width: 100%;
    background-color: #FFFFFF;
    box-shadow: 0px 0px 2px rgba(0,0,0,0.16);
    height: 40px;
    border-radius: 5px;
    padding: 0px 20px;
    font-size: 12px;
    color: #717171;
}

.kure-table .filter-options .date-range .date-picker input::-webkit-calendar-picker-indicator {
    color: red;
    display: none;
}

.kure-table .filter-options .date-range .date-picker i {
    position: absolute;
    color: #BCBCBC;
    top: 10px;
    right: 20px;
    font-size: 20px;
}

.kure-table .filter-options .pagi-nation {
    display: flex;
    position: relative;
}

.kure-table .filter-options .pagi-nation .prev-next {
    display: flex;
    margin-right: 10px;
}

.kure-table .filter-options .pagi-nation .count-picker p {
    display: flex;
    align-items: center;
    cursor: pointer;
}

.kure-table .filter-options .pagi-nation .prev-next .arrow-prev,
.kure-table .filter-options .pagi-nation .prev-next .arrow-next {
    width: 24px;
    height: 40px;
    background-color: #34495E;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.kure-table .filter-options .pagi-nation .prev-next .arrow-next {
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
}

.kure-table .filter-options .pagi-nation .prev-next .arrow-prev {
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
}

.kure-table .filter-options .pagi-nation .prev-next .arrow-prev i,
.kure-table .filter-options .pagi-nation .prev-next .arrow-next i {
    font-size: 20px;
    color: #F5F5F5;
}

.kure-table .filter-options .pagi-nation .page-count {
    /* width: 50px; */
    padding: 0px 5px;
    height: 40px;
    font-size: 12px;
    font-weight: 300;
    color: #717171;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #FFFFFF;
    box-shadow: 0px 0px 2px rgba(0,0,0,0.16);
}

.kure-table .filter-options .pagi-nation .page-count p {
    margin-bottom: 0px;
}

.kure-table .filter-options .pagi-nation .count-picker p {
    font-size: 12px;
    font-weight: 300;
    color: #717171;
    display: flex;
    background-color: #FFFFFF;
    box-shadow: 0px 0px 2px rgba(0,0,0,0.16);
    border-radius: 4px;
    height: 40px;
    margin-bottom: 0px;
    padding-left: 5px;
    padding-right: 2px;
}

.kure-table .filter-options .pagi-nation .count-picker p i {
    font-size: 18px;
    color: #BCBCBC;
}

.kure-table .filter-options .pagi-nation .count-picker ul {
    list-style-type: none;
    padding: 0px;
    position: absolute;
    background-color: #FFFFFF;
    box-shadow: 0px 0px 3px rgba(18,22,28,0.16);
    padding: 0px;
    right: 0px;
    border-radius: 5px;
    width: 40px;
    font-size: 12px;
    color: #717171;
    text-align: center;
    margin-top: 5px;
}

.kure-table .filter-options .pagi-nation .count-picker ul li {
    border-bottom: 1px solid #F5F5F5;
    padding: 10px;
    cursor: pointer;
}

.kure-table .filter-options .pagi-nation .count-picker ul li:hover {
    background-color: #F5F5F5;
}

.kure-table .filter-options .pagi-nation .count-picker ul {
    display: none;
}

.kure-table .filter-options .pagi-nation .count-picker p:hover + ul {
    display: block;
}




.kure-table .table-section .table-head {
    height: 45px;
    border-radius: 5px;
    background-color: #006577;
    color: #94CCDD;
    display: flex;
    align-items: center;
    font-size: 12px;
    text-transform: uppercase;
    font-weight: 400;
    padding: 0px 20px;
    margin-bottom: 15px;
}

.kure-table .table-section .table-head .trans-id {
    margin-left: 36px;
}

.kure-table .table-section .trans-id {
    width: 150px;
}

.kure-table .table-section .from-to {
    width: 230px;
}

.kure-table .table-section .amount,
.kure-table .table-section .date {
    width: 120px;
}

.kure-table .table-section .status {
    width: 100px;
}

.kure-table .table-section .description {
    width: 200px;
}

.kure-table .table-section .table-row {
    height: 40px;
    border-radius: 5px;
    background-color: #FFFFFF;
    color: #717171;
    display: flex;
    align-items: center;
    font-size: 14px;
    font-weight: 300;
    padding: 0px 20px;
    box-shadow: 0px 0px 1px rgba(0,0,0,0.16);
    margin-bottom: 5px;
}

.kure-table .table-section .default-value {
    color: #BCBCBC;
}

.kure-table .table-section .table-row .from-others {
    color: #34495E;
    font-weight: 700;
    margin-right: 5px;
}

.kure-table .table-section .table-row .to-others {
    color: #006577;
    font-weight: 700;
    margin-right: 5px;
}

.kure-table .table-section .table-row i {
    font-size: 18px;
    margin-right: 20px;
}

.kure-table .table-section .table-row i.success {
    color: #65A558;
}

.kure-table .table-section .table-row i.failed {
    color: #DD2626;
}

.kure-table .table-section .table-row i.error {
    color: #FC5D00;
}

